@using Microsoft.AspNet.Identity
<ul class="nav navbar-nav navbar-right">
    @if (Session["USER_ID"] != null)
    {
        <li>
            <a>Hello @Session["USER_NAME"]</a>
        </li>
        <li>@Html.ActionLink("Log off", "Logoff", "Login", routeValues: null, htmlAttributes: new { id = "logoffLink" })</li>
    }
    else
    {
        <li>@Html.ActionLink("Register", "Register", "Login", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Index", "Home", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    }
</ul>