@{
    ViewBag.Title = "Tact School Game";
}

<div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-app="tactSchoolGameApp" ng-controller="SignUpCtrl">
    <section id="content">
        <form>
            <h1>Sign Up</h1>
            <div>
                <input type="text" placeholder="Username" required="" ng-model="username" ng-pattern="userRegex" style="background:#eae7e7;"/>
                <span class="alert alert-danger" ng-if="userErrorMsg">
                    <strong>{{ userErrorMsg }}</strong>
                </span>
            </div>
            <div>
                <input type="password" placeholder="Password" required="" ng-model="password" ng-pattern="passRegex" style="background:#eae7e7;"/>
                <span class="alert alert-danger" ng-if="passErrorMsg">
                    <strong>{{ passErrorMsg }}</strong>
                </span>
            </div>
            <div>
                <input type="password" placeholder="Re-Password" required="" ng-model="rePassword" ng-pattern="passRegex" style="background:#eae7e7;"/>
                <span class="alert alert-danger" ng-if="retyPassErrorMsg">
                    <strong>{{ retyPassErrorMsg }}</strong>
                </span>
            </div>
            <div class="alert alert-success" ng-if="createdMsg">
                <strong>{{ createdMsg }}</strong>
            </div>
            <div>
                <input type="submit" ng-click="signUp()" value="Create Account" />
            </div>
        </form><!-- form -->
    </section><!-- content -->
</div>

<script src="~/Scripts/app.js"></script>
<script src="~/Scripts/services/signUpService.js"></script>
<script src="~/Scripts/controllers/SignUpController.js"></script>
