@{
    ViewBag.Title = "Tact School Game";
}
<link rel="stylesheet" href="~/Content/login.css">

<div class="container" ng-app="tactSchoolGameApp" ng-controller="AcctCtrl">
    <section id="content">
        <form>
            <h1>Login</h1>
            <div>
                <input type="text" placeholder="Username" required="" id="username" ng-model="username" ng-pattern="userRegex"/>
            </div>
            <div>
                <input type="password" placeholder="Password" required="" id="password" ng-model="password" ng-pattern="passRegex"/>
            </div>
            <div>
                <input type="submit" ng-click="login($event)" value="Log in" />
                <a href="#">Lost your password?</a>
                @Html.ActionLink("Register", "SignUp", "Account")
            </div>
        </form><!-- form -->
    </section><!-- content -->
</div><!-- container -->

<script src="~/Scripts/app.js"></script>
<script src="~/Scripts/services/loginService.js"></script>
<script src="~/Scripts/controllers/AccountController.js"></script>
