@{
    ViewBag.Title = "Tact School Game";
}

<div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-app="tactSchoolGameApp" ng-controller="AcctCtrl">
    <h2>Loh in</h2>
    <hr />
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <label>Username</label>
        <input type="text" ng-model="username" ng-pattern="userRegex" required/>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <label>Passwrod</label>
        <input type="text" ng-model="password" ng-pattern="passRegex" required/>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <button type="button" class="btn btn-primary" ng-click="login()">Log in</button>
    </div>
</div>

<script src="~/Scripts/app.js"></script>
<script src="~/Scripts/services/portfolioService.js"></script>
<script src="~/Scripts/controllers/AccountController.js"></script>
