@{
    ViewBag.Title = "Tact School Game";
}

<link href="~/Content/player.css" rel="stylesheet" />
<div ng-app="tactSchoolGameApp" ng-controller="PlayerCtrl" ng-init="init()">
    <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="table-responsive col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <h2>Stock Trading</h2>
            <table class="responstable table-hover">
                <tr>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Dividend</th>
                </tr>
                <tr ng-repeat="item in marketData" ng-click="selectedBuyStock($index)">
                    <td>{{ item.Name }}</td>
                    <td>{{ item.Price | currency:'฿' }}</td>
                    <td>{{ item.Dividend | currency:'฿' }}</td>
                </tr>
            </table>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <ul class="nav nav-tabs">
                    <li ng-repeat="tab in tabs"
                        ng-class="{active:isActiveTab(tab.title)}"
                        ng-click="onClickTab(tab)">
                        <a data-toggle="tab">{{tab.title}}</a>
                    </li>
                </ul>
                <div class="row panel-body col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-class="tradeCmdSelected === 'BUY' ? 'buy-stock-tab': 'sell-stock-tab'">
                    <div class="row center panel-body col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                            <label for="stocksdd">STOCK</label> 
                        </div>
                        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                            <select id="stocksdd" class="form-control" ng-options="stock.name as stock.name for stock in stocksTrade" ng-model="stockTradeSelected" ng-change="changeTradePrice()"></select>
                        </div>
                    </div>
                    <div class="row center form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                            <label>PRICE</label>
                        </div>
                        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                            <label>{{ tradePrice | currency:'฿' }}</label>
                        </div>
                    </div>
                    <div class="row center form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                            <label>VOL</label>
                        </div>
                        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                            <input type="number" class="form-control" ng-model="tradeVol" min="100" step="100" />
                        </div>
                    </div>
                    <div class="row center form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                            <label>TOTAL</label>
                        </div>
                        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                            <label class="text-ellipsis">{{ getMultiply(tradePrice, tradeVol) | currency:'฿' }}</label>
                        </div>
                    </div>
                    <div class="row form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <button type="button" class="btn btn-primary" style="float:right;" ng-click="stockTrade($event)">CONFIRM</button>
                    </div>
                </div>
            </div>
            <div class="row panel-body box-effect8 white-bg top-buffer col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    Cash
                </div>
                <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                    {{ player.Cash | currency:'฿' }}
                </div>
            </div>
            <div class="row panel-body box-effect8 white-bg top-buffer col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    Stock Value
                </div>
                <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                    {{ getPortFolioPL() | currency:'฿' }}
                </div>
            </div>
            <div class="row panel-body box-effect8 white-bg top-buffer col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    Portfolio
                </div>
                <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                    {{ player.Portfolio | currency:'฿' }}
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="row table-responsive">
            <h2>Portfolio</h2>
            <div class="col-xs-12 col-sm-12" ng-if="windowWidth < 768">
                <div class="portfolio-header row">
                    <div class="col-xs-3 col-sm-3">
                        <label>Name</label>
                    </div>
                    <div class="col-xs-3 col-sm-3">
                        <label>Vol</label>
                    </div>
                    <div class="col-xs-3 col-sm-3">
                        <label>Avg</label>
                    </div>
                    <div class="col-xs-3 col-sm-3">
                        <label>Market</label>
                    </div>
                </div>
                <div ng-repeat="stock in portfolio" class="row">
                    <div class="stock-header row" ng-click="showStockDetail($event, $index)">
                        <div class="col-xs-3 col-sm-3">
                            <label>{{ stock.Name }}</label>
                        </div>
                        <div class="col-xs-3 col-sm-3">
                            <label>{{ stock.Vol | number:0 }}</label>
                        </div>
                        <div class="col-xs-3 col-sm-3">
                            <label>{{ stock.Price | currency:'฿' }}</label>
                        </div>
                        <div class="col-xs-3 col-sm-3">
                            <label>{{ stock.MarketPrice | currency:'฿' }}</label>
                        </div>
                    </div>
                    <div class="stock-detail row">
                        <div class="row col-xs-12 col-sm-12">
                            <div class="col-xs-2 col-sm-2">
                                <label>Buy Vol</label>
                            </div>
                            <div class="col-xs-4 col-sm-4">
                                <label>{{ stock.Vol | number:0 }}</label>
                            </div>
                            <div class="col-xs-2 col-sm-2">
                                <label>Cost</label>
                            </div>
                            <div class="col-xs-4 col-sm-4">
                                <label>{{ getMultiply(stock.Vol, stock.Price) | currency:'฿' }}</label>
                            </div>
                        </div>
                        <div class="row col-xs-12 col-sm-12">
                            <div class="col-xs-2 col-sm-2">
                                <label>Actual Vol</label>
                            </div>
                            <div class="col-xs-4 col-sm-4">
                                <label>{{ stock.Vol | number:0 }}</label>
                            </div>
                            <div class="col-xs-2 col-sm-2">
                                <label>Market Value</label>
                            </div>
                            <div class="col-xs-4 col-sm-4">
                                <label>{{ getMultiply(stock.Vol, stock.MarketPrice) | currency:'฿' }}</label>
                            </div>
                        </div>
                        <div class="row col-xs-12 col-sm-12">
                            <div class="col-xs-4 col-sm-4">
                                <label>Profit/Loss</label>
                            </div>
                            <div class="col-xs-8 col-sm-8">
                                <label>{{ getDiff(getMultiply(stock.Vol, stock.MarketPrice), getMultiply(stock.Vol, stock.Price)) | currency:'฿' }}</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <table class="responstable" ng-model="marketData" ng-if="windowWidth > 767">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Volume</th>
                        <th>Avg Price</th>
                        <th>Amount</th>
                        <th>Market Price</th>
                        <th>Market Value</th>
                        <th>Profit / Loss</th>
                        <th>DIV</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="stock in portfolio">
                        <td ng-click="selectedSellStock($index)">{{ stock.Name }}</td>
                        <td>{{ stock.Vol | number:0 }}</td>
                        <td>{{ stock.Price | currency:'฿' }}</td>
                        <td>฿{{ getMultiply(stock.Vol, stock.Price) | megaNumber:2 }}</td>
                        <td>{{ stock.MarketPrice | currency:'฿' }}</td>
                        <td>฿{{ getMultiply(stock.Vol, stock.MarketPrice) | megaNumber:2 }}</td>
                        <td>฿{{ getDiff(getMultiply(stock.Vol, stock.MarketPrice), getMultiply(stock.Vol, stock.Price)) | megaNumber:2 }}</td>
                        <td>{{ getMultiply(stock.Vol, stock.Dividend) | currency:'฿' }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div style="visibility: hidden">
        <div class="md-dialog-container" id="myDialog">
            <md-dialog layout-padding>
                <h2>Pre-Rendered Dialog</h2>
                <p>
                    This is a pre-rendered dialog, which means that <code>$mdDialog</code> doesn't compile its
                    template on each opening.
                    <br /><br />
                    The Dialog Element is a static element in the DOM, which is just visually hidden.<br />
                    Once the dialog opens, we just fetch the element from the DOM into our dialog and upon close
                    we restore the element back into its old DOM position.
                </p>
            </md-dialog>
        </div>
    </div>
    <script type="text/ng-template" id="tradeDialog.tpl.cshtml">
        <md-dialog aria-label="label" ng-cloak>
            <form>
                <md-dialog-content>
                    <div class="md-dialog-content">
                        <h2>Place Order Confirmation</h2>
                    </div>
                    <div class="v">
                        <table class="confirm-dialog-table">
                            <tr>
                                <td>Buy:</td>
                                <td>{{ stock.stockTradeSelected }}</td>
                            </tr>
                            <tr>
                                <td>Volume:</td>
                                <td>{{ stock.tradeVol | number:0 }}</td>
                            </tr>
                            <tr>
                                <td>Price:</td>
                                <td>{{ stock.tradePrice | currency:'฿' }}</td>
                            </tr>
                            <tr>
                                <td>Total:</td>
                                <td>{{ stock.total | currency:'฿' }}</td>
                            </tr>
                            <tr><td>&nbsp;</td></tr>
                            <tr>
                                <td>Commission:</td>
                                <td>{{ stock.commissionRate | currency:'฿' }}</td>
                            </tr>
                        </table>
                    </div>
                </md-dialog-content>
                <md-dialog-actions layout="row">
                    <md-button ng-click="cancel()">
                        Cancel
                    </md-button>
                    <md-button class="btn btn-default" ng-click="confirm()">
                        Confirm
                    </md-button>
                </md-dialog-actions>
            </form>
        </md-dialog>
    </script>
</div>

<script src="~/Scripts/app.js"></script>
<script src="~/Scripts/services/commonFilter.js"></script>
<script src="~/Scripts/services/itemService.js"></script>
<script src="~/Scripts/services/portfolioService.js"></script>
<script src="~/Scripts/controllers/PlayerController.js"></script>
